body {
  background-color: white;
}

.text1 {
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 0 30px; /* Ajuste da margem */
}

.navegation-bar {
  height: 50px;
  background-color: lightblue;
}

/* Estilos base para todos os botões */
[class^="botao"] {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  font-family: Oswald, Impact, Arial, sans-serif;
  background-color: transparent;
  font-size: 25px;
}

/* Estilos de hover para todos os botões */
[class^="botao"]:hover {
  background-color: #777;
}

/* Estilos específicos para cada botão, se necessário */
.botao1 {
  margin-left: 130px;
}

.botao2 {
  margin-left: 125px;
}

.botao3 {
  margin-left: 120px;
}
