body {
  background-color: white;
}

.text1 {
  font-size: 23px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;
  left: 30px;
  
}

.navegation-bar {
  height: 50px;
  background-color: lightblue; 
  position: relative;
}

.botao1 {
    color: white; 
    text-decoration: none; 
    padding: 10px 16px; 
    font-family: Oswald, Impact, Arial, sans-serif;
    background-color: transparent;
    font-size: 25px;
    position: relative; 
    top: -17px; 
    left: 130px; 
}
.botao2 {
    color: white; 
    text-decoration: none; 
    padding: 10px 16px; 
    font-family: Oswald, Impact, Arial, sans-serif;
    background-color: transparent;
    font-size: 25px;
    position: relative; 
    top: -17px; 
    left: 125px; 
}
.botao3 {
   color: white; 
    text-decoration: none; 
    padding: 10px 16px; 
    font-family: Oswald, Impact, Arial, sans-serif;
    background-color: transparent;
    font-size: 25px;
    position: relative; 
    top: -17px; 
    left: 120px;
}

[class^="botao"]:hover {
  background-color: #777;
}